*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{

background:
linear-gradient(
135deg,
#07111d,
#10253f
);

color:white;

min-height:100vh;

padding:20px;

}

.container{

max-width:900px;

margin:auto;

}

.hidden{

display:none;

}

section{

background:

rgba(
255,
255,
255,
0.08
);

backdrop-filter:

blur(16px);

padding:30px;

border-radius:30px;

box-shadow:

0 15px 60px
rgba(
0,
0,
0,
0.3
);

animation:

fade .5s;

}

@keyframes fade{

from{

opacity:0;

transform:

translateY(20px);

}

to{

opacity:1;

transform:none;

}

}

h1{

font-size:40px;

margin-bottom:15px;

}

h2{

margin-bottom:15px;

}

h3{

margin-top:10px;

opacity:.9;

}

p{

margin-bottom:20px;

}

.features{

display:grid;

grid-template-columns:

1fr 1fr;

gap:12px;

margin-bottom:30px;

}

.features div{

padding:14px;

border-radius:14px;

background:

rgba(
255,
255,
255,
0.05
);

}

button{

border:none;

padding:14px 26px;

border-radius:14px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

button:hover{

transform:

translateY(-2px);

}

#startBtn,
#nextBtn,
#restartBtn{

background:

#4b8cff;

color:white;

}

#prevBtn,
#reviewBtn{

background:

#ffffff22;

color:white;

}

#progressBar{

height:12px;

background:

rgba(
255,
255,
255,
0.12
);

border-radius:999px;

overflow:hidden;

margin:18px 0;

}

#progress{

width:0;

height:100%;

transition:.5s;

background:

linear-gradient(
90deg,
#48c6ef,
#6f86d6
);

}

#questionBox{

padding:25px;

border-radius:20px;

margin-top:20px;

background:

rgba(
255,
255,
255,
0.06
);

}

#answers{

margin-top:25px;

display:grid;

gap:12px;

}

.answer{

padding:18px;

border-radius:16px;

background:

rgba(
255,
255,
255,
0.06
);

cursor:pointer;

transition:.3s;

}

.answer:hover{

transform:scale(1.02);

}

.answer.selected{

border:

2px solid #4b8cff;

}

.nav{

margin-top:25px;

display:flex;

justify-content:

space-between;

}

#score{

font-size:70px;

margin:25px 0;

}

#percent{

font-size:30px;

margin-bottom:20px;

}

#message{

font-size:22px;

padding:15px;

border-radius:20px;

background:

rgba(
255,
255,
255,
0.08
);

}

@media(max-width:700px){

.features{

grid-template-columns:

1fr;

}

h1{

font-size:28px;

}

#score{

font-size:52px;

}

}
